/* animacion */
body {
  opacity: 0;
  transform: scale(0.95);
  animation: zoomIn 2s ease forwards;
}

@keyframes zoomIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@font-face {
  font-family: fuente;
  src: url(fuentes/IosevkaCharonMono-Bold.ttf);
}
.axel{
     background: linear-gradient(90deg, #4facfe, #00f2fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.foto-axel {
    position: relative;
    max-width: 100%;
    height: auto;
}
.footer{
  height: 250px;
}
ul {
  list-style: none;
}
.lista-footer{
  position: relative;
  top: 40px;
  text-decoration: none;
  font-size: 19px;
}
.p-contacto {
  position: relative;
  top: 40px;
  left: 35px;
  font-size: 25px;
}
.div-prueba{
  width: 330px;
    height: 330px;
    background-color: red;
}
.caja-hero-1{
  position: relative;
  top: 100px;
}
.hero{
    height: 750px;
  }
.caja{
   background-color: white;
    border: 2px solid black;
    border-radius: 8px;           /* bordes redondeados suaves */
    padding: 1.5rem;
}
.tienes-un-proyecto{
  position: relative;
  bottom: 150px;
  height: 270px;
  background-color: #132238;
}
.tienes-una-idea{
    font-family: fuente;
    position: relative;
    top: 30px;
}
.contactame{
  position: relative;
  top: 40px;
}
.cards-conocimientos{
  position: relative;
  bottom: 100px;
  height: 100%;
}

/* celular */
@media (max-width: 575.98px) {
  .foto-hero{
    width: 180px;
    position: relative;
    top: 80px;
    display: none;
  }
  .tienes-un-proyecto{
    bottom: 0;
  }
  .cards-conocimientos{
    top: 30px;
}
}
/* tablet */
@media (min-width: 768px) and (max-width: 991.98px){
  .foto-axel {
    position: relative;
    max-width: 100%;
    height: auto;
    display: none;
}
.foto-hero{
    width: 180px;
    position: relative;
    top: 80px;
    right: 250px;
  }
   .tienes-un-proyecto{
    bottom: 0;
  }
}